encryption = "age"

[age]
    identity = "~/.config/sops/age/keys.txt"
    recipient = "age1yh63kzzarphlz6fdfm8gq8ggcar4hrwlr2jj7flnh3ganvz5jgyqf42ls2"

[data]
    {{ if (eq .chezmoi.arch "arm64") }}
    brew_prefix = "/opt/homebrew"
    {{ else if (eq .chezmoi.arch "amd64" ) }}
    brew_prefix = "/usr/local"
    {{ else }}
    brew_prefix = "/opt/homebrew"
    {{ end }}
